VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.box = "bento/ubuntu-20.04"
  config.vm.network "public_network", bridge: "pmtestbri"
  config.vm.hostname = "pmtest"
end