/venv*
*.py[cdo]
*.swp
.idea
__pycache__
build/
/pallium/fs/
*.egg-info/
*.secret
*.secrets
/tests/templates/*secrets
*.spec
bin/
htmlcov/
.coverage
.vagrant
*.bak
.env
/pallium/gvisor-init/gvisor-init
